<nav>
  <%= link_to("Home", :controller => "recipies", :action => "index") %>
  ||
  <%= link_to("Lists", :controller => "lists", :action => "index") %>
</nav>
<hr>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to(list.name, list_path(list)) %>
    </li>
  <% end %>
</ul>
