<% session[:slugs].each do |slug| %>
  <% file = File.read("/home/daniel/recipes_for_erin/app/assets/recipies/#{slug}.json") %>
  <% recipe = JSON.parse(file) %>

  <%= recipe['name'] %>
  <ul>
    <% recipe['ingredients'].each do |ingredient| %>
      <li>
        <%= ingredient %>
      </li>
    <% end %>
  </ul>
  <hr>
<% end %>
